:root{
    --BaseColor: none;
    /* --imgBackgroundColor: black; */
    /* --imgBorder: .25rem solid white; */
    /* --imgRadius:100px; */
    --cardTextColor: green;
}
.projectsBox{
    border: 2px solid var(--BaseColor);
    
}
/* .projectsBox h1{
    text-align: center;
} */
.projects{
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}

.cardColumn{
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--cardTextColor);
}
.Port-Img{
    width: 100px;
    max-width: 200px;

}
.about-Img Img{
    max-width: 4rem;
    border:.25rem solid white;;
    border-radius: 100px;
    background-color:black;
    justify-content: center;
    text-align: center;
}
.about-Img{
    display: flex;
    justify-content: right;
}
.Resume-Img{
    width: 400px;
}
.star{
    width: 200px;
}
a{
    text-decoration: none;
}
a:visited {
  color: var(--cardTextColor);
}
h1 {
    text-align: center;
}
