:root{
    background-color: var(--background-color);
    color: var(--BaseColor);
    /* --imgBackgroundColor: black; */
    /* --imgBorder: .25rem solid white; */
    /* --imgRadius:100px; */
    --BaseColor: white;
    --cardTextColor: green;
    --background-color: grey;

}
.projectsBox{
    border: 2px solid none;
    background-color: var(--background-color);

    
}
.footer{
    background-color: var(--background-color);
}
.header-container {
    background-color: var(--background-color);
    justify-content: center;
    text-align: center;
    max-width: 100%;

}
.active{
    color:green
}
.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    list-style-type: none;
    cursor: pointer;
    padding-inline-start: 0px;
}

.Header-Img {
    max-width: 600px;
    width: 100%;
    /* width: 600px */
}
/* .projectsBox h1{
    text-align: center;
} */
.resume{
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--background-color);
}

.cardColumn{
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--cardTextColor);
}
.cardHeader{
    background-color: gray;
    border-radius: 1rem;
}
.Port-Img{
    height: 100px;
    max-width: 200px;

}
.about-Img Img{
    max-width: 4rem;
    border:.25rem solid white;
    border-radius: 100px;
    background-color:black;
    justify-content: center;
    text-align: center;
}
.about-Img{
    display: flex;
    justify-content: right;
}
.Resume-Img{
    width: 400px;
}
.star{
    width: 200px;
}
a{
    text-decoration: none;
}
a:visited {
  color: var(--cardTextColor);
}
h1 {
    text-align: center;
}

